# Ignore __pycache__
__pycache__/

# Ignore .pytest_cache
.pytest_cache/

# Ignore .vscode
.vscode/

# Ignore venv
venv/

# Ignore data/output
data/output/*

# Ignore logs
logs/*

# Ignore ZIP files
*.zip

# Ignore COMMIT_MESSAGE.txt
COMMIT_MESSAGE.txt